body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fefefe;
    color: #333;
}

.top-wrapper {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.main h1 {
    font-size: 36px;
    color: #333;
}

.main p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
}

.maincontents {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #97c8c1;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #86b0ab;
}

.btn.hiyake {
    background-color:#fffaeb;
}
.btn.hiyake:hover {
    background-color: #d7894b;
}

.btn.kankou {
    background-color: #6aa5e1;
}
.btn.kankou:hover {
    background-color: #588ec5;
}
